<div class="header-class">
    <nav class="navbar navbar-expand-lg bg-body-tertiary  mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PokemonApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"href="/pokemon/list" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Pokemon
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  href="/pokemon/list">Lista de Pokemon</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"  href="/pokemon/alta">Alta Pokemon</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Movimientos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  href="/movimientos/list">Lista Movimientos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"  href="/movimientos/alta">Alta Moviemientos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Habilidades
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  href="/habilidad/list">Lista Habilidades</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"  href="/habiliad/alta">Alta habilidad</a></li>
                        </ul>
                    </li>
                    
                </ul>
    
            </div>
        </div>
    </nav>
</div>